<main class="main" id="404main">
    <div class="container">
        <img src="https://gifbin.com/bin/012010/1262639505_drummer-falling.gif" alt="404 error this page does not exist" class="d-block mx-auto img-fluid error-gif">
        <p class="text text-center">how did you mess up this badly</p>
    </div>
</main>